@import "../../sass/variables.scss";

.TaskInput {
    margin: 0 auto;
    width: 100%;
    border-radius: 0.5rem;
    background-color: $colorSecondary;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0.3rem 1rem;

    &-input {
        width: 100%;
        outline: none;
        border: none;
        padding: 0 1rem;
        border-radius: 0.5rem;
    }

    &-button {
        padding: 0.3rem 1.4rem;
        background-color: $colorPrimary;
        color: #FFF;
        border-radius: 0.325rem;
        border: none;
        outline: none;
        cursor: pointer;
        margin-left: auto;
        margin: 0.43rem;

        &:hover {
            background-color: $colorPrimaryHover;
        }
    }
}